<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.practice2Ver2.boardAdvance.dao.BoardAdanceDAO">

<select id="getAllBoardCnt" parameterType="hashMap" resultType="int">
	<choose> <!-- 헷갈림 -->
		<when test="searchKeyword.equals('total')">
			<choose>
				<when test="searchWord.equals('')">
					SELECT 
							COUNT(*)
					FROM 
							MAIN_BOARD
				</when>
				<otherwise>
					SELECT 
							COUNT(*)
					FROM 
							MAIN_BOARD
					WHERE 
							SUBJECT LIKE CONCAT('%', #{searchWord}, '%') OR
						    WRITER LIKE CONCAT('%', #{searchWord}, '%')
				</otherwise>
			</choose>
		</when>
		<otherwise>
				SELECT
						COUNT(*)
				FROM
						MAIN_BOARD
				WHERE
						<if test="searchKeyword.equals('subject')">
							SUBJECT LIKE CONCAT('%', #{searchWord}, '%')
						</if>
						<if test="searchKeyword.equals('writer')">
							WRITER LIKE CONCAT('%', #{searchWord}, '%')
						</if>
		</otherwise>
	</choose>
</select>

<select id="getBoardList" parameterType="hashMap" resultType="MainBoardDTO">
	<choose>
		<when test="searchKeyword.equals('total')">
			<choose>
				<when test="searchWord.equals('')">
					SELECT 
							*
					FROM 
							MAIN_BOARD
					ORDER BY 
							ENROLL_AT DESC
					LIMIT 
							 #{startBoardIdx},#{onePageViewCnt}
				</when>
				<otherwise>
					SELECT 
							*
					FROM 
							MAIN_BOARD
					WHERE 
							SUBJECT LIKE CONCAT('%' , #{searchWord} , '%') OR
							WRITER LIKE CONCAT('%' , #{searchWord} , '%')
					ORDER BY 
							ENROLL_AT DESC
					LIMIT
							 #{startBoardIdx},#{onePageViewCnt}
				</otherwise>
			</choose>
		</when>
	<otherwise>
		SELECT
				 *
		FROM 
				MAIN_BOARD
		WHERE
		 <if test="searchKeyword.equals('subject')">
		 	SUBJECT LIKE CONCAT('%', '#{searchWord}, '%')
		 </if>
		 <if test="searchKeyword.equals('writer')">
			 WRITER LIKE CONCAT('%', '#{searchWord}, '%')
		 </if>
		 ORDER BY 
		 		ENROLL_AT DESC
 		LIMIT
 				#{startBoardIdx},#{onePageViewCnt}
	</otherwise>
</choose>
</select>

<insert id="createBoard" parameterType="MainBoardDTO">
	INSERT INTO MAIN_BOARD(
			WRITER,
			SUBJECT,
			PASSWD,
			CONTENT
	)	
	VALUES(
	 	#{writer},
	 	#{subject},
	 	#{passwd},
	 	#{content}
	)
</insert>

<select id="getBoardDetail" parameterType="long" resultType="MainBoardDTO">
 SELECT 
 		*
 FROM 
 		MAIN_BOARD
 WHERE
 		BOARD_ID = #{boardId}
</select>

<update id="udpateReadCnt" parameterType="long">
	UPDATE 
			MAIN_BOARD
	SET 
			READ_CNT = READ_CNT +1
	WHERE 
			BOARD_ID = #{boardId}
</update>

<select id="getEncodedPasswd" parameterType="long" resultType="String">
	SELECT 
			PASSWD
	FROM 
			MAIN_BOARD
	WHERE 
			BOARD_ID = #{boardId}
</select>

<update id="updateBoard" parameterType="mainBoardDTO">
 	UPDATE
 			 MAIN_BOARD
 	SET  
 			WRITER = #{writer},
 			SUBJECT = #{subject},
 			CONTENT = #{content},
 			ENROLL_AT = NOW()
	WHERE
			BOARD_ID= #{boardId}
</update>

<delete id="deleteBoard" parameterType="long">
	DELETE FROM 
			MAIN_BOARD
	WHERE 
			BOARD_ID = #{boardId}
</delete>

<insert id="createReply" parameterType="ReplyDTO">
	INSERT INTO REPLY(
	WRITER,
	PASSWD,
	CONTENT,
	BOARD_ID
	)
	VALUES(
	#{writer},
	#{passwd},
	#{content},
	#{boardId}
	)
</insert>
<select id="getReplyCnt" parameterType="long" resultType="int">
	SELECT 
			COUNT(*)
	FROM 
			REPLY
	WHERE 
			BOARD_ID = #{boardId}
</select>

<select id="getReplyList" parameterType="long" resultType="ReplyDTO">
	SELECT 
			*
	FROM 
			REPLY
	WHERE
			BOARD_ID = #{boardId}
</select>

<select id="getReplyDetail" parameterType="long" resultType="ReplyDTO">
	SELECT 
			*
	FROM 
			REPLY
	WHERE 
			REPLY_ID = #{replyId}
</select>
<select id="validateReplyUserCheck" parameterType="ReplyDTO" resultType="String">
	SELECT 
			PASSWD
	FROM 
			REPLY
	WHERE 
			REPLY_ID = #{replyId}
</select>
<update id="updateReply" parameterType="ReplyDTO">
	UPDATE 
			REPLY
	SET 
			WRITER=#{writer},
			CONTENT=#{content},
			ENROLL_AT=NOW()
	WHERE 
			REPLY_ID = #{replyId}
	
</update>

<delete id="deleteReply" parameterType="ReplyDTO">
	DELETE FROM 
			REPLY
	WHERE 
			REPLY_ID = #{replyId}
</delete>


</mapper>